.browse .browse-content {
	margin: 0 auto;
	max-height: 400px;
	position: relative;
}

#add-directory {
	margin-bottom: 20px;
}

.tab-content button.btn.back {
	font-size: 14px;
	outline: none;
	border-radius: 2px;
	font-weight: normal;
	padding: 8px 12px;
	margin: 0;
	margin-right: 10px;
	background: #79A6CC;
	color: white;
	border: none;
	color: white;
	box-shadow: none;
}

.tab-content button.btn.back:active {
	background: #555;
}

input.current-dir {
	width: 205px;
}

.browse-content li.list-group-item.loading a {
	background: #79A6CC;
	color: white;
}

.browse-content li.list-group-item.loading i {
	color: white;
}

.browse-content.loading {
	-webkit-filter: opacity(0.7);
}

.browse-content.loading li.list-group-item .loader {
	display: none;
}