.md-content
	h3 Add Network Source
	div.md-body
		form
			label Server Address and Path
				input.network-path(type='text')


	div.md-footer.clearfix
		button.md-close.btn.dismiss Cancel
		button.add-source.btn.primary Add Network Source
