#swipe
	ul
		li.swipe-item
			.container-fluid
				.row-fluid
					.span3.player.offset2
						#poster-image
						a.control.back(href='#')
							i.icon-backward.icon-large
						a.control.play(href='#')
							i.icon-play.icon-2x
						a.control.forward(href='#')
							i.icon-forward.icon-large
					.span5.movie-info
						h3=locals.original_title
						p
							span=locals.release_date + ', '
							span=locals.runtime + ' Minutes.'
						p=locals.overview
		li.swipe-item
			.container-fluid
				.row-fluid
					.span6.offset3.movie-info
						h3 Subtitles
		li.swipe-item
			.container-fluid
				.row-fluid
					.span6.offset2.movie-info
						h3 Movie Playback
#swipe-controls
	div
		a#control0(href='#').active
			i.icon-info.icon-large
	div
		a#control1(href='#')
			i.icon-font.icon-large
	div
		a#control2(href='#')
			i.icon-film.icon-large
