#movie-content
	.container.movie-container
		.row
			.span6.offset3
				form#meta-search
					input.search-title(type='text')
					input(type='submit', value='Find Movie')
		.row
			.span6.offset3
				ul#search-results.list-group.transparent

a.more(href='#')
	i.icon-close.icon2x