.container-fluid
	.row-fluid
		.span3
			a.control.back(href='#')
				i.icon-backward.icon-large
			a.control.play(href='#')
				i.icon-play.icon-2x
			a.control.forward(href='#')
				i.icon-forward.icon-large
		.span3
			.title=locals.title
