<div>
	<div id='toggle' class='segment'>
		<div class='toggle'>
			<label class='toggle-on-label'>TV</label>
			<input class='toggle-checkbox' type='checkbox'>
			<div class='toggle-button'></div>
			<label class='toggle-off-label'>iOS</label>
		</div>
	</div>

	<div id='main-playback' class='segment clearfix white clearfix'>

	</div>

	<div class='segment white clearfix' on-click='oncontrolclick'>
		<div class='controls pre'>
			<button class='btn transparent' data-hide='isTV' disable-if-not='isPlaying' on-click='toggleFullscreen'> Fullscreen </button>
			<button class='btn transparent' data-hide='isLocal' disable-if-not='isPlaying' on-click='toggleSubtitles'> Subtitles </button>

		</div>
		<div class='controls'>
			<a class='control back' href='#' disable-if-not='isPlaying' on-click='rewind'>
				<i class='icon-backward-2'></i>
			</a>
			<a class='control play' href='#' on-click='play'>
				<i class='icon-play-2' data-hide='isPlaying'></i>
				<i class='icon-pause-2' data-show='isPlaying'></i>
			</a>
			<a class='control forward' href='#' disable-if-not='isPlaying' on-click='forward'>
				<i class='icon-forward-2'></i>
			</a>
		</div>
		<div class='controls post'>
			<div class='slider volume' disable-if-not='isPlaying'>
				<a href='#' class='slider-min-value'>
					<i class='icon-volume-mute'></i>
				</a>
				<div class='slider-range'>
					<input type='range'/>
				</div>
				<a href='#' class='slider-max-value'>
					<i class='icon-volume-high'></i>
				</a>
			</div>
		</div>


	</div>

</div>


