<div>

	<div id='main-playback' class='segment clearfix'>
		<div class='poster'>
			<div id='poster-image'>
				<img data-src='image_url < poster'></img>
			</div>
		</div>
		<div class='movie-info'>
			<h2> { title || file_name }</h2>
			<p data-show='release_date' class='meta release-date'>  {release_date} </p>
			<p data-show='runtime' class='meta'> {runtime + ' Minutes'} </p>
			<p data-show='budget' class='meta'> {'$' + budget} </p>
			<p data-show='plot'> {plot} </p>
		</div>
	</div>

	<div class='segment'>
		<div id='toggle'>
			<select on-change='setPlaybackDevice'>
				<option value='local'>This Device</option>
				<option value='remote'>Television</option>
			</select>
		</div>
		<div class='controls'>
			<a class='control back' href='#' on-click='rewind'>
				<i class='icon-backward-2'></i>
			</a>
			<a class='control play' href='#' on-click='play'>
				<i class='icon-play-2' data-hide='isPlaying'></i>
				<i class='icon-stop-2' data-show='isPlaying'></i>
			</a>
			<a class='control forward' href='#' on-click='forward'>
				<i class='icon-forward-2'></i>
			</a>
		</div>
	</div>

</div>


