.tip {
	background: white;
	border: 2px solid #79A6CC;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.tip-inner {
	padding: 10px;
	font-size: 13px;
	box-sizing: border-box;
}

.tip input[type='time'] {
	height: 18px;
}