#background-image {
}

#background-image.noimage {
  background: rgba(199, 200, 204, 1);
}

.zoom-background {
  position: absolute;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  background-size: cover;
  background-position-x: 50%;
}

.zoom-background.no-image {
  background-color: #c0c0c1;
}

.zoom-background.in {
  -webkit-animation: opacity-anim 0.3s linear;
}

.zoom-background.no-zoom.in {
  -webkit-animation: none;
  transition: none;
}

.zoom-background.in:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  content: ' ';
  transition: background 0.3s ease-out;
}

.zoom-background.in.fade:before {
  background: rgba(0,0,0,0.7);
}

.zoom-background.out {
  -webkit-animation: opacity-anim-out 0.3s linear;
}


@-webkit-keyframes opacity-anim {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes opacity-anim-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}
