#currently-playing {
	padding: 4px 10px;
	color: rgb(107, 107, 107);
	margin: 7px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 2px;
	transform: translateX(200px);
	transition: transform 0.4s ease-out;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	visibility: hidden;
}

#currently-playing span {
	margin-top: 5px;
	width: 115px;
	display: inline-block;
	padding-left: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

#currently-playing:active {
	background: #333;
	color: white;
}

#currently-playing.in {
	visibility: visible;
	transform: translateX(0);
	transition: transform 0.4s ease-out;
}

#currently-playing .icon-tv {
	font-size: 22px;
	float: left;
	vertical-align: bottom;
}