button.btn,
a.btn {
  border: 0;
  color: #555;
  background: white;
  font-size: 14px;
  font-family: 'helvetica neue';
  padding: 6px 10px;
  font-weight: 500;
  margin: 2px 5px;
  border-radius: 2px;
  transition: opacity 0.3s ease-out;
}

.disabled button.btn,
button.btn.disabled,
a.btn.disabled {
  opacity: 0.2;
  pointer-events: none;
}

button.btn.small,
a.btn.small {
  padding: 5px 8px;
  font-size: 12px;
}

button.btn.primary,
a.btn.primary {
  background: rgb(46, 146, 214);
  color: white;
}

button.btn.primary:active,
a.btn.primary:active {
  background: rgb(34, 107, 156);
}

button.btn.transparent,
a.btn.transparent {
  background: none;
  border-radius: 1px;
}

button.btn.transparent:active,
a.btn.transparent:active {
  background: #777;
  color: white;
}

button.btn.dismiss,
a.btn.dismiss {
  background: white;
}

button.btn.dismiss:active,
a.btn.dismiss:active {
  background: #ccc;
}