h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	padding: 0 0 15px 0;
	color: #453649;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  background: none;
  font-size: 18px;
}


body {
	font-family: 'helvetica neue', 'Helvetica', arial, sans-serif;
	font-size: 12px;
}